<h1>You don't need this anymore?</h1>

<form method="post" action="/lists/<%=@list.id%>">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <button type="submit" class="btn btn-default">Delete!</button>
<form>