<h2>Update Your "<%= @list.name %> List"</h2>

<form action="/lists/<%= @list.id %>" method="post">

  <input type="hidden" name="_method" id="hidden" value="patch">
  <p><input type="text" name="name" id="name" placeholder="Update Name of List"></p>
  
  <button type="submit" class="btn btn-default" role="button">Update</button>
  <br></br>
</form>

<form method="post" action="/lists/<%=@list.id%>">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <button type="submit" class="btn btn-default">Delete!</button>
<form>



