<h1>Forget Something?</h1>

<form method="post" action="/items/new">
  <input type="text" name="name" placeholder="Item">
  <p></p>
  <br><label>Add To An Existing Grocery List:</label><br>
  <% @lists.each do |list| %>
    <% if list.user_id == @user.id %>
    <input type="checkbox" name="list_id" value="<%=list.id%>"><%=list.name%>
    <% end %>
  <% end %>
  <p></p>
  <button type="submit" class="btn btn-default">Add!</button>
</form>
